BodhiCRM.BLL/Service References/ServiceReference1/TemplateSMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.0.141:8883/TemplateSMSService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SendTemplateSMSS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="templateKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toTel" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sendData" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTemplateSMSSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTemplateSMSSResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="outMsg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>